.user-table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 10%;
  }
  .user-table th, .user-table td {
    border: 1px solid #aca5a5;
    padding: 8px;
    text-align: left;
  }
  .user-table th {
    background-color: #dfd7d7;
  }

  .actionButton{
    height: 35px;
    width: 80px;
    margin: 10px;
    background-color: rgb(48, 170, 194);
    border-radius: 10px;
    color: white;
    border-color: #ddd;
  }

  .actionButton:Hover{
    color: black;
    background-color: rgb(238, 231, 231);
    font-size: 15px;
  }

  .addUser:hover{
    color: rgb(24, 23, 23);
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
  }

  .addUser{
    margin: 10px;
    height: 45px;
    width: 150px;
    margin: 10px;
    background-color: #333331;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-color: #ddd;
    align-self: flex-start;
  }


tr:nth-child(odd) {
  background-color: rgb(248, 253, 255);
}


tr:nth-child(even) {
  background-color: rgb(249, 249, 238);
}

.success {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #fff;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
